* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    padding: 25px;
    background-color: black;
}

header {
    color: chartreuse;
    margin-bottom: 15px;
}

.s3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

nav {
    width: 50%;
    margin-left: 15px;
    color: chartreuse;
}

li {
    margin-bottom: 5px;
}

.nav {
    color: chartreuse;
    background-color: black;
    border: 0;
    font-size: 15px;
    text-decoration: none;
}

#active4 {
    color: white;
}

li:hover {
    color: white;
}

.nav:hover {
    color: white;
}

main, section {
    color: chartreuse;
    margin-bottom: 25px;
}

.main, .sec {
    background-color: black;
    border: 0;
    color: white;
    text-decoration: underline;
    font-size: 15px;
}

#side {
    display: none;
}

aside {
    width: 50%;
    height: 150px;
    color: white;
    border: 1px solid white;
    padding: 15px;
}

aside h3, main h1, section h2 {
    margin-bottom: 25px;
}

footer {
    color: white;
    border: 1px solid white;
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}